.cozy-leaflet-markers
  background-color white
  border-radius 100%
  border 2px solid var(--primaryColor)

  &-end
    background-color var(--errorColor)

  &-start
    background-color var(--successColor)