{{#extend "cozy-layout"}}
  {{#content "emailSubtitle"}}
    Coach CO2
  {{/content}}

  {{#content "content"}}
    <mj-section padding-top="0" padding-bottom="10px">
      <mj-column>
        <mj-text>
            {{ t 'geolocationTracking.notifications.quotaAlmostExpired.content' maxDaysToCapture=maxDaysToCapture }}
        </mj-text>
      </mj-column>
    </mj-section>
  {{/content}}

  {{#content "footer"}}
  {{/content}}
  {{#content "footerHelp"}}
    <a css-class="footer__help" href="https://support.cozy.io/">
     {{tGlobal 'support'}}
    </a>
  {{/content}}
{{/extend}}
